html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

.cervena {
  color: #F03000;
}

.fontM16R {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.fontM18R {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.fontM28S {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: 600;
}

.fontM24S {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.font016R {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.font014R {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgba(128, 128, 128, 0.5019607843);
}

.fontM24S {
  font-family: "Montserrat", sans-serif;
  font-size: 24x;
  font-weight: 600;
}

.fontM20S {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.font028B {
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  font-weight: 600;
}

body {
  padding-left: 20px;
  padding-right: 20px;
}

.header__logo {
  text-align: center;
  padding-top: 36px;
}

ul {
  list-style: none;
  padding: 20px;
}

.header__link {
  text-decoration: none;
  padding: 20px;
  color: #F03000;
}

.header__link:hover, .active {
  background-color: #F03000;
  color: #FFFFFF;
}

.header__menu {
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
}

.photos__photo {
  width: 100%;
}

.photo__title {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #FFFFFF;
  margin: 0;
}

.photo__title1 {
  position: absolute;
  bottom: 60px;
  left: 20px;
  color: #FFFFFF;
  margin: 20px;
}

.photo__price {
  position: absolute;
  left: 20px;
  top: 20px;
  color: #FFFFFF;
  padding: 10px;
  background-color: #F03000;
  margin: 0 20px 0 0;
}

.foto {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

.news__article {
  background-color: #F0F0F0;
  padding: 20px;
  margin: 20px 0;
}

.carts__cart {
  background-color: #F0F0F0;
  display: flex;
  padding: 20px;
  margin: 20px 0;
  align-items: flex-start;
}

.cart__icon {
  flex: 0 0 20%;
  max-height: 40px;
  margin-top: 20px;
}

.margin {
  margin-top: calc 40px;
}

.footer {
  padding: 20px;
  background-color: #444444;
  text-align: center;
  color: #FFFFFF;
}

h2 {
  margin: 40px 0 0 0;
}

.grid {
  display: none;
}

.hotelcard_1,
.hotelcard_2,
.hotelcard_3,
.hotelcard_4 {
  background-color: #E5E5E5;
  padding: 20px;
}

.hotelcard_2,
.hotelcard_3,
.hotelcard_4 {
  margin-top: 20px;
}

.hotelcard_4 {
  background-color: #F03000;
  color: #FFFFFF;
}

.hotelcard p {
  margin: 0;
}

@media screen and (min-width: 769px) {
  header {
    display: flex;
    justify-content: space-evenly;
  }
  .photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .photos :nth-child(1) {
    flex: 0 0 100%;
  }
  .photos :nth-child(2) {
    flex: 0 0 calc((100% - 20px) / 2);
  }
  .photos :nth-child(3) {
    flex: 0 0 calc((100% - 20px) / 2);
  }
  .carts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .carts__cart {
    flex-direction: column;
    flex: 0 0 calc((100% - 20px) / 2);
    align-items: center;
    text-align: center;
  }
  .grid {
    display: none;
  }
  .grid4 {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 20px;
  }
  .obr1 {
    grid-area: 1/1/2/-1;
    background-image: url(img/palmy.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hotelcard {
    grid-area: 2/1/3/-1;
  }
  .otazky_text {
    grid-area: 3/1/4/-1;
  }
  .otazky_foto {
    grid-area: 4/1/5/-1;
    display: flex;
    justify-content: space-between;
  }
  .footer {
    grid-area: 5/1/6/-1;
  }
  .hotel {
    width: 100%;
    flex: 0 1 calc((100% - 40px) / 3);
  }
}
@media screen and (min-width: 960px) {
  .carts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .carts__cart {
    flex-direction: column;
    flex: 0 0 calc((100% - 60px) / 4);
    align-items: center;
    text-align: center;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 180px);
    gap: 20px;
  }
  .obr1 {
    grid-area: 1/1/3/-2;
    background-image: url(img/palmy.png);
    background-size: cover;
  }
  .obr2 {
    grid-area: 1/-2/2/-1;
    background-image: url(img/jezero2.png);
    background-size: cover;
  }
  .obr3 {
    grid-area: 2/-2/-1/-1;
    background-image: url(img/nakole.png);
    background-size: cover;
  }
  .obr4 {
    grid-area: 1/2/-1/-1;
    background-image: url(img/lodicka.png);
    background-size: cover;
  }
  .obr5 {
    grid-area: 1/1/2/2;
    background-image: url(img/zatoka.png);
    background-size: cover;
  }
  .obr6 {
    grid-area: 2/1/-1/2;
    background-image: url(img/podkova.png);
    background-size: cover;
  }
  .PC {
    display: none;
  }
  .obr1, .obr2, .obr3, .obr4, .obr5, .obr6 {
    position: relative;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__logo {
    padding: 0;
  }
  .grid3 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: auto;
    gap: 20px;
  }
  .obr1.palma {
    grid-area: 1/1/2/2;
    background-image: url(img/palmy.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hotelcard {
    grid-area: 1/-2/2/-1;
  }
  .otazky_text {
    grid-area: 2/1/3/-2;
  }
  .otazky_foto {
    grid-area: 3/1/4/-2;
    display: flex;
    justify-content: space-between;
  }
  .footer {
    grid-area: 4/1/5/-1;
  }
  .hotel {
    width: 100%;
    flex: 0 1 calc((100% - 40px) / 3);
  }
  .body2 {
    padding: 0 120px;
  }
}/*# sourceMappingURL=style.css.map */